{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% elsif post.teaser %}
  {% capture teaser %}{{ post.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <!-- 1:1 비율 및 둥근 모서리 스타일이 추가된 이미지 태그 -->
        <img src="{{ teaser | relative_url }}" alt="" style="aspect-ratio: 1 / 1; object-fit: cover; width: 100%; border-radius: 8px;">
      </div>
    {% endif %}
    <h2 class="archive__item-title no_toc" itemprop="headline">
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
    </h2>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div>